.characters {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;

  &--card {
    width: 230px;
    height: 320px;
    margin: 30px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    border: white solid 1px;
    background-color: rgb(101, 223, 101);
    border-radius: 25px;

    &__image {
      border-radius: 25px 25px 0px 0px;
      width: 228px;
      height: 228px;
    }

    &__name {
      margin: 12px 10px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
