.characters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: auto;

  &--card {
    width: 230px;
    height: 350px;
    margin: 30px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    border: rgb(70, 69, 69) solid 1px;
    background-color: rgba($color: teal, $alpha: 0.9);
    box-shadow: 2px 2px 6px 6px rgb(101, 223, 101);
    border-radius: 25px;

    &__image {
      border-radius: 25px 25px 0px 0px;
      width: 228px;
      height: 228px;
    }

    &__name {
      margin: 12px 10px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  @media all and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (min-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media all and (min-width: 1220px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
